---
layout: archive
title: "Upcoming Conference presentations"
permalink: /talks/
author_profile: true
---

<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->


Schott, E., Rhemtulla, M., & Byers-Heinlein, K. (2018, July) But really, should I test more babies? A guide to ethical data peeking for infant researchers. Talk to be presented at the Biennial International Conference on Infant Studies, Philadelphia, USA.
=====

Schott, E., Fourakis, E., Lew-Williams, C., & Byers-Heinlein, K. (2018, July). Fine-tuning language discrimination: Monolingual and bilingual infants’ ability to detect single-word language switches. Poster to be presented at the Biennial International Conference on Infant Studies, Philadelphia, USA.
=====

Schott, E., & Byers-Heinlein, K. (2018, September). Does cross-language similarity affect how bilinguals represent words? Poster to be presented at Crossing the Border Conference: Development of Language, Cognition and the Brain, Potsdam, Germany.
