---
layout: archive
title: "Resources for learning R"
permalink: /learningR/
author_profile: true
---

Here's some favourite resources for learning R:
[R Cookbook, great for all things ggplot](http://www.cookbook-r.com/Graphs/)


[Structured Intro to R](https://swcarpentry.github.io/r-novice-inflammation/)


[Intro to purrr for beginners](https://jennybc.github.io/purrr-tutorial/)


[Advanced R programming](https://adv-r.hadley.nz/)

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
